.reina__card {
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.58);
    border: 1px solid white;
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    user-select: none;
    font-weight: bolder;
    overflow: hidden;
    max-width: 500px;
    border: 3px solid var(--color-primary);
}

.reina__card:hover {
    border: 3px solid var(--color-primary);
    /* transform: scale(1.05); */
    transform: scale(0.95) rotateZ(1.7deg);
}

/* .reina__card:active {
    transform: scale(0.95) rotateZ(1.7deg);
} */


.reina__card__image {
    aspect-ratio: 1/1;
    overflow: hidden;
}

.reina__card__image img {
    object-fit: contain;
}

.reina__card__content{
    padding: 0.5rem;
}
.reina__card__name,
.reina__card__barrio,
.reina__card__Profesion{
    margin: 0;
    padding: 0;
}

.reina__card__name{
    font-size: 24px;
    color: var(--color-primary);
}
.reina__card__barrio{
    font-size: 18px;
}

.reina__card__Profesion{
    font-size: 16px;
}