---
import { getCollection } from "astro:content";
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";
import HotelCard from "../HotelCard/HotelCard.astro";

const hospedajes = await getCollection("hospedajes");
---

<!-- Slider main container -->
<div class="wrapper__slide">
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      {
        hospedajes.map((hospedaje) => {
          const { slug, data } = hospedaje;
          const { title, tipo, imagen } = data;

          return (
            <div class="swiper-slide">
              <HotelCard
                title={title}
                tipo={tipo}
                imagen={imagen}
                slug={slug}
              />
            </div>
          );
        })
      }
    </div>

    <!-- If we need navigation buttons -->
    <!-- <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div> -->

    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  </div>
</div>

<script>
  import Swiper from "swiper";
  import { Navigation, Pagination, Scrollbar } from "swiper/modules";

  Swiper.use([Navigation, Pagination, Scrollbar]);

  const swiper = new Swiper(".mySwiper", {
    slidesPerView: 1, // Default para móviles
    spaceBetween: 10,

    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    scrollbar: {
      el: ".swiper-scrollbar",
      draggable: true,
    },
    loop: true,

    breakpoints: {
      640: {
        slidesPerView: 2,
        spaceBetween: 20,
      },
      1024: {
        slidesPerView: 4,
        spaceBetween: 30,
      },
    },
  });
</script>

<style>
  .wrapper__slide {
    position: relative;
    width: 100%;
  }
  /* .swiper-wrapper{
      background-color: red;
  
  } */
  .swiper {
    width: 100%;
    height: auto;
    /* Evita crecer sin límite */
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
  }

  .swiper-pagination-bullet-active {
    background: var(--swiper-pagination-color, var(--color-primary));
  }
</style>
