---
import Layout from "../../layouts/Layout.astro";
import GoBack from "../../components/goBack/goBack.astro";
import DayScheduleCard from "../../components/programacion/DayScheduleCard/DayScheduleCard.astro";
import Sponsors from "../../components/sponsors/sponsors.astro";
import { getCollection } from "astro:content";

const programacion = await getCollection("programacion");
---

<Layout title="Programación del Carnaval Riojano 2025">
    <section class="section container">
        <nav>
            <GoBack text="Volver a inicio" link="/" />
        </nav>
        <div class="grid__days">
            {
                programacion
                    .sort((a, b) => a.data.id - b.data.id) // 👈 orden manual
                    .map((day) => {
                        const { slug, data } = day;
                        const { title, activities } = data;

                        return (
                            <div class="swiper-slide">
                                <DayScheduleCard
                                    day={title}
                                    activities={activities}
                                    slug={slug}
                                />
                            </div>
                        );
                    })
            }
        </div>
    </section>
    <Sponsors />
</Layout>
