---
import { getCollection } from "astro:content";
import "./agencyCarousel.css";
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";
import AgencyCard from "../agencyCard/AgencyCard.astro";

const agencias = await getCollection("agencias");
---

<!-- Slider main container --><!-- Swiper -->
<div class="wrapper__slide">
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            {
                agencias.map((agencia) => {
                    const { slug, data } = agencia;
                    const { title, descripcion, imagen } = data;

                    return (
                        <div class="swiper-slide">
                            <AgencyCard title={title} descripcion={descripcion} imagen={imagen} slug={slug} />
                        </div>
                    );
                })
            }
        </div>

        <!-- If we need navigation buttons -->
        <!-- <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div> -->

        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
    </div>
</div>

<script src="./agencyCarousel.js"></script>
