:root {
    --color-primary: #f44375;
    --color-text-secondary: #666666;
    --color-text-p: #737373;
}

body {
    color: var(--color-text-p);
}

.hero__content {
    margin: auto;
}

.section__title {
    color: purple;
    text-wrap: wrap;
}

.hero__subtitle {
    font-size: 1rem;
    font-weight: 500;
    text-wrap: balance;
    color: var(--color-text-secondary);
}

.hero__button {
    background-color: var(--color-primary);
    padding: 0.5rem 1rem;
    border-radius: 4px;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: var(--fs-small);
    margin-bottom: 1rem;
    transition: all 0.3s ease-in-out;
}

.hero__button:hover {
    transform: scale(1.05);
}
.hero__image{
    max-width: 500px;
    margin: 0 auto;
}
.hero__image img {
    aspect-ratio: 1/1;
    border-radius: 1rem;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    margin: 0 auto;
    transition: all 0.3s ease-in-out;
    object-fit: cover;
}

.about__images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    aspect-ratio: 16/9;
    max-width: 600px;
    margin: auto;
}

.about__image { 
    object-fit: cover;
    border-radius: 0.5rem;

}

.about__button {
    background-color: var(--color-primary);
    width: fit-content;
    padding: 0.5rem 1rem;
    color: white;
    font-weight: 600;
    border-radius: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.about__info {
    margin-bottom: 2rem;
}

.reina__card__link {
    text-decoration: none;
    color: inherit;
}
.reina__wrapper {
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
}

.reina__image {
    aspect-ratio: 16/9;
    max-width: 600px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 1rem;
    margin-top: 1rem;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
.reina__title{
    color: purple;
}
.reina__info__barrio,
.reina__info__edad,
.reina__info__profesion {
    margin: 0;
    padding: 0;
}
.content{
    max-width: 1000px;
    margin: auto;
    margin-top: 2rem;
}
.image{
    aspect-ratio: 16/9;
}

.image img{
    object-fit: cover;
    border-radius: 1rem;
}
.btn-wrapper{
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}
.grid__days,
.grid__reinas,
.grid__agencias{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}
.headers__buttons{
    display: flex;
    align-items: center;
    gap: 1rem;
}
@media screen and (min-width: 425px) {
    .grid__days{
        grid-template-columns: repeat(2, 1fr);
    }   
    
}

@media screen and (min-width: 768px) {
    .hero {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        padding-top: 8rem;

    }
    /* .hero{
        display: flex;
        gap: 2rem;
        padding-top: 8rem;
    } */

    .about__content {
        margin-bottom: 3rem;
    }

    .about__title,
    .about__subtitle,
    .reina__title,
    .reina__subtitle,
    .about__title-single,
    .programacion__title,
    .programacion__subtitle,
    .agencias__title,
    .agencias__subtitle,
    .hospedajes__title,
    .hospedajes__subtitle,
    .galeria__title,
    .galeria__subtitle{
        text-align: center;
    }


    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }

    /* .about__info {
        width: 50%;
    }

    .about__images {
        width: 45%;
    } */
    .grid__reinas{
        grid-template-columns: repeat(2, 1fr);
    }

    .grid__agencias{
        grid-template-columns: repeat(3, 1fr);
    }
     

}
@media screen and (min-width: 900px) {  
    .grid__days,
    .grid__reinas,
    .grid__agencias{
        grid-template-columns: repeat(3, 1fr);
    }
    
}

