---
import './PartnerCarousel.css'

const sponsors = [
    {
        name: "Sabores Nauticos",
        url: "https://www.saboresnauticos.com/",
        logo: "sponsor-sabores-nauticos.png",
    },
    {
        name: "Sabores Nauticos",
        url: "https://www.saboresnauticos.com/",
        logo: "sponsor-sabores-nauticos.png",
    },
];

---



<section class="brands section" data-cues="zoomIn">
    <div class="inner-container">
      <div class="marquee">
        <div class="marquee-block">
          <!-- content-box -->
          <a href="#" target="_blank" class="content-box">
            <img src="/sponsors/sponsor-sabores-nauticos.png" alt="Logo sabores nauticos" />
          </a>
          <!-- content-box -->
          <a href="#" target="_blank"  class="content-box">
            <img src="/sponsors/sponsor-vareli.png" alt="Logo vareli" />
          </a>
          <!-- content-box -->
          <a href="#" target="_blank" class="content-box">
           <img src="/sponsors/sponsor-negocio.png" alt="Logo sabores nauticos" />
          </a>
          <!-- content-box -->
          <a href="#" target="_blank" class="content-box">
           <img src="/sponsors/sponsor-vareli.png" alt="Logo vareli" />
          </a>
          <!-- content-box -->
          <a href="#" target="_blank" class="content-box">
           <img src="/sponsors/sponsor-sabores-nauticos.png" alt="Logo sabores nauticos" />
          </a>
        </div>
        <div class="marquee-block">
          <!-- content-box -->
          <a href="#" target="_blank" class="content-box">
           <img src="/sponsors/sponsor-vareli.png" alt="Logo vareli" />
          </a>
          <!-- content-box -->
          <a href="#" target="_blank" class="content-box">
           <img src="/sponsors/sponsor-sabores-nauticos.png" alt="Logo sabores nauticos" />
          </a>
          <!-- content-box -->
          <a href="#" target="_blank" class="content-box">
           <img src="/sponsors/sponsor-vareli.png" alt="Logo vareli" />
          </a>
          <!-- content-box -->
          <a href="#" target="_blank" class="content-box">
           <img src="/sponsors/sponsor-negocio.png" alt="Logo sabores nauticos" />
          </a>
          <!-- content-box -->
          <a href="#" target="_blank" class="content-box">
           <img src="/sponsors/sponsor-vareli.png" alt="Logo vareli" />
          </a>
        </div>
      </div>
    </div>

  </section>


