
  .echofy-text-section {
    position: relative;
    z-index: 1;
  }

  .echofy-text-section .inner-container {
    max-width: 1812px;
    margin: 0 auto;
  }

  .echofy-text-section .marquee {
    position: relative;
    --duration: 15s;
    --gap: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    gap: 0px;
  }

  .echofy-text-section .marquee-block {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    gap: 0;
    min-width: 87%;
    -webkit-animation: scroll var(--duration) linear infinite;
    animation: scroll var(--duration) linear infinite;
  }

  .echofy-text-section .marquee-block .content-box {
    position: relative;
    margin-right: 0px;
  }

  .echofy-text-section .marquee-block .content-box:last-child {
    margin-right: 0px;
  }

  .echofy-text-section .marquee-block .content-box:last-child::before {
    display: none;
  }

  .echofy-text-section .marquee-block .content-box img {
    position: relative;
    left: -49px;
    width: 150px;
  }

  @-webkit-keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(calc(-100% - var(--gap)));
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(calc(-100% - var(--gap)));
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
