.card-hospedaje {
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  transition: transform 0.3s ease;
}

.card-hospedaje:hover {
  transform: scale(1.02);
}
.card-img-wrapper{
  position: relative;
}
.card-img {
  width: 100%;
  height: 190px;
  object-fit: cover;
  display: block;
}

.card-content {
  padding: 16px;
}


.card-title {
  font-size: 1.2rem;
  margin-bottom: 4px;
  color: #000534;
}

.card-location {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 0.9rem;
  color: #666;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.card-location span {
  color: var(--color-primary);
}

.card-stars {
  color: #f4b400;
  margin-bottom: 12px;
  font-size: 1rem;
}

.card-services {
  list-style: none;
  padding-left: 0;
  margin-bottom: 16px;
  font-size: 0.9rem;
  color: #333;
}

.card__footer-hospedaje{
  display: flex;
}
.card-btn {
  width: 100%;
  text-align: center;
  padding: 8px 12px;
  background-color: var(--color-primary);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 0.9rem;
}

.card-btn:hover {
  background-color: #df3666;
}
