---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import PartnerCarousel from "../components/PartnerCarousel/PartnerCarousel.astro";
import ReinaCarousel from "../components/reinas/Reinas-carousel/ReinasCarousel.astro";
import GoBack from "../components/goBack/goBack.astro";
import ScheduleCarousel from "../components/programacion/ScheduleCarousel/ScheduleCarousel.astro";
import AgencyCarousel from "../components/agencia/agencyCarousel/agencyCarousel.astro";
import HotelCarousel from "../components/hospedaje/hotelCarousel/HotelCarousel.astro";
const reinas = await getCollection("reinas");
---

<Layout title="Carnaval Riojano 2026 – Cultura y tradición">
    <section class="hero section container">
        <div class="hero__content">
            <h1 class="section__title">
                ¡Ven a celebrar el Carnaval Riojano 2026!
            </h1>

            <p class="hero__subtitle">
                <strong>Pre Carnaval:</strong> Del 05 de enero al 17 de febrero
                <br>
                <strong>Centrales</strong> Del 17 al 23 de febrero
            </p>
           <div class="hero__buttons">
             <a href="/programacion" class="hero__button">
                <span class="akar-icons--calendar"></span>
                Ver programación
            </a>

            <a 
            target="_blank"
            href="https://www.google.com/maps/dir//Rioja/@-6.0610539,-77.2078383,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x91b727bf4cf0ec33:0x637b94ce3004ed3d!2m2!1d-77.1657716!2d-6.0570484?entry=ttu&g_ep=EgoyMDI1MDExMC4wIKXMDSoASAFQAw%3D%3D" class="hero__button">
                <span class="mdi--location"></span>
                Como llegar
            </a>
           </div>
        </div>

        <div class="hero__image">
            <img
                class="hero__image-img"
                src="/hero-img.jpg"
                alt="Carnaval Riojano 2025"
            />
        </div>
    </section>

    <PartnerCarousel />

    <section class="about section container">
        <div class="about__container">
            <div class="about__content">
                <h2 class="section__title about__title">
                    Sobre el Carnaval Riojano
                </h2>
                <p class="about__subtitle">
                    Una tradición centenaria que celebra la cultura, música y
                    alegría del pueblo riojano
                </p>
            </div>

            <div class="grid">
                <div class="about__info">
                    <h3>
                        Desde hace décadas, las calles de Rioja se llenan de
                        música, danza y alegría.
                    </h3>

                    <p>
                        El Carnaval Riojano es una celebración que une música,
                        danza y cultura en un evento inolvidable. Desde las
                        vibrantes pandillas hasta las emocionantes umshas, esta
                        tradición ha conquistado corazones por generaciones.
                    </p>

                    <a href="/sobre-el-carnaval" class="about__button">
                        leer más
                        <span class="mingcute--arrow-right-fill"></span>
                    </a>
                </div>

                <div class="about__images">
                    <img
                        class="about__image"
                        src="/diablos-de-rioja-foto.jpg"
                        alt="diblos de rioja en la plaza de armas"
                    />
                    <img
                        class="about__image"
                        src="/plaza-de-armas-presentacion.jpg"
                        alt="presentacion de los Diblos en la plaza de armas"
                    />
                    <img
                        class="about__image"
                        src="/reinas-prof-ronald.jpg"
                        alt="reinas del carnaval riojano junto al ño carnavalon de ronald sandoval 2025 "
                    />
                    <img
                        class="about__image"
                        src="/turista-y-diablo.jpg"
                        alt="Turísta disfrutando del carnaval riojano junto a un diblo de rioja"
                    />
                </div>
            </div>
        </div>
    </section>

    <section class="programacion section container">
        <h2 class="section__title programacion__title">
            Programación Oficial del Carnaval Riojano 2026
        </h2>
        <p class="programacion__subtitle">
            Descubre todo lo que hemos preparado para ti. Explora día por día
            las actividades del carnaval: desfiles, concursos, presentaciones
            culturales y mucho más. ¡No te pierdas ningún momento de esta fiesta
            inolvidable en Rioja!
        </p>
        <ScheduleCarousel />
        <div class="btn-wrapper">
            <GoBack text="Ver programación" link="/programacion" />
        </div>
    </section>

    <section class="reinas section container">
        <h2 class="section__title reina__title">
            Candidatas a Reina del Carnaval Riojano 2026
        </h2>
        <p class="reina__subtitle">
            Mujeres que representan la belleza, cultura y tradición de nuestros
            barrios. Conócelas y acompáñalas en esta maravillosa experiencia.
        </p>
        <ReinaCarousel />
        <div class="btn-wrapper">
            <GoBack text="Ver todas las reinas" link="/reinas" />
        </div>
    </section>

    <section class="programacion section container">
        <h2 class="section__title agencias__title">
            Agencias de viaje
        </h2>
        <p class="agencias__subtitle">
            Descubre agencias que te ayudan a planear tu viaje al Carnaval Riojano. 
            Conoce opciones confiables que ofrecen paquetes y servicios para disfrutar 
            al máximo esta gran celebración.
        </p>
        <AgencyCarousel />

        <div class="btn-wrapper">
            <GoBack text="ver todas las agencias" link="/agencias" />
        </div>
    </section>

    <section class="programacion section container">
        <h2 class="section__title hospedajes__title">
            Alojamientos para tu estadía
        </h2>
        <p class="hospedajes__subtitle">
            Encuentra opciones de alojamiento para todos los gustos y presupuestos. 
            Desde hoteles y hospedajes hasta espacios familiares o alternativos, 
            vive el Carnaval Riojano con comodidad, seguridad y cercanía a toda la fiesta.
        </p>
        <HotelCarousel />
        <div class="btn-wrapper">
            <GoBack text="ver todos los hospedajes" link="/hospedajes" />
        </div>
    </section>

    <!-- <section class="programacion section container">
        <h2 class="section__title galeria__title">
           Galería del Carnaval
        </h2>
        <p class="galeria__subtitle">
            Revive los mejores momentos del Carnaval Riojano a través de imágenes 
            llenas de color, tradición y alegría. Comparte nuestra cultura
            y siente el espíritu de los Diablos de Rioja en cada foto.
        </p>
        
    </section> -->
</Layout>
