---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import PartnerCarousel from "../components/PartnerCarousel/PartnerCarousel.astro";
import ReinaCarousel from "../components/reinas/Reinas-carousel/ReinasCarousel.astro";
import GoBack from "../components/goBack/goBack.astro";
import Sponsors from "../components/sponsors/sponsors.astro";
import Carousel from "../components/carousel/carousel.astro";
import AgencyCard from "../components/agencia/agencyCard/AgencyCard.astro";
import ScheduleCard from "../components/programacion/DayScheduleCard/DayScheduleCard.astro";
const reinas = await getCollection("reinas");
const agencias = await getCollection("agencias");
const hospedajes = await getCollection("hospedajes");
const programacion = await getCollection("programacion");

---

<Layout title="Carnaval Riojano 2026 – Cultura y tradición">
    <!-- hero section -->
    <section class="hero section container">
        <div class="hero__content">
            <h1 class="section__title">
                ¡Ven a celebrar el Carnaval Riojano 2026!
            </h1>

            <p class="hero__subtitle">
                <strong>Pre Carnaval:</strong> Del 05 de enero al 17 de febrero
                <br>
                <strong>Centrales</strong> Del 17 al 23 de febrero
            </p>
           <div class="hero__buttons">
             <a href="/programacion" class="hero__button">
                <span class="akar-icons--calendar"></span>
                Ver programación
            </a>

            <a 
            target="_blank"
            href="https://www.google.com/maps/dir//Rioja/@-6.0610539,-77.2078383,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x91b727bf4cf0ec33:0x637b94ce3004ed3d!2m2!1d-77.1657716!2d-6.0570484?entry=ttu&g_ep=EgoyMDI1MDExMC4wIKXMDSoASAFQAw%3D%3D" class="hero__button">
                <span class="mdi--location"></span>
                Como llegar
            </a>
           </div>
        </div>

        <div class="hero__image">
            <img
                class="hero__image-img"
                src="/hero-img.jpg"
                alt="Carnaval Riojano 2025"
                loading="lazy"
            />
        </div>
    </section>

    <!-- partner carousel -->
    <PartnerCarousel />

    <!-- about section -->
    <section class="about section container">
        <div class="about__container">
            <div class="about__content">
                <h2 class="section__title about__title">
                    Sobre el Carnaval Riojano
                </h2>
                <p class="about__subtitle">
                    Una tradición centenaria que celebra la cultura, música y
                    alegría del pueblo riojano
                </p>
            </div>

            <div class="grid">
                <div class="about__info">
                    <h3>
                        Desde hace décadas, las calles de Rioja se llenan de
                        música, danza y alegría.
                    </h3>

                    <p>
                        El Carnaval Riojano es una celebración que une música,
                        danza y cultura en un evento inolvidable. Desde las
                        vibrantes pandillas hasta las emocionantes umshas, esta
                        tradición ha conquistado corazones por generaciones.
                    </p>

                    <a href="/sobre-el-carnaval" class="about__button">
                        leer más
                        <span class="mingcute--arrow-right-fill"></span>
                    </a>
                </div>

                <div class="about__images">
                    <img
                        class="about__image"
                        src="/diablos-de-rioja-foto.jpg"
                        alt="diblos de rioja en la plaza de armas"
                        loading="lazy"
                    />
                    <img
                        class="about__image"
                        src="/plaza-de-armas-presentacion.jpg"
                        alt="presentacion de los Diblos en la plaza de armas"
                        loading="lazy"
                        loading="lazy"
                    />
                    <img
                        class="about__image"
                        src="/reinas-prof-ronald.jpg"
                        alt="reinas del carnaval riojano junto al ño carnavalon de ronald sandoval 2025 "
                        loading="lazy"
                        loading="lazy"
                    />
                    <img
                        class="about__image"
                        src="/turista-y-diablo.jpg"
                        alt="Turísta disfrutando del carnaval riojano junto a un diblo de rioja"
                        loading="lazy"
                    />
                </div>
            </div>
        </div>
    </section>

    <!-- reina section -->
    <section class="reinas section container">
        <h2 class="section__title reina__title">
            Candidatas a Reina del Carnaval Riojano 2026
        </h2>
        <p class="reina__subtitle">
            Mujeres que representan la belleza, cultura y tradición de nuestros
            barrios. Conócelas y acompáñalas en esta maravillosa experiencia.
        </p>
        <ReinaCarousel />
        <div class="btn-wrapper">
            <GoBack text="Ver todas las reinas" link="/reinas" />
        </div>
    </section>

    <!-- sponsors section -->
    <Sponsors />
</Layout>
