---
import Layout from "../layouts/Layout.astro";
import GoBack from "../components/goBack/goBack.astro";
import Sponsors from "../components/sponsors/sponsors.astro";
---

<Layout title="Carnaval Riojano – Alegría de su gente">
    <section class="section container">
        <div class="content">

            <GoBack 
                text="Volver a inicio"
                link="/"
            />
            <h1 class="about__title-single section__title">Carnaval Riojano – Alegría de su gente</h1>
            <figure class="image">
                <img
                    src="https://carnavalriojano.pe/wp-content/uploads/2025/01/469065043_122127870044428428_7470373111647370338_n-1024x683.jpg"
                    alt=""
                />
            </figure>
            <p>
                Desde la fundación de Rioja el año 1782 se estableció un
                calendario festivo con predominio del santoral católico y
                escenas bíblicas, todas ellas con una particularidad de que el
                inicio de estas celebraciones era el carnaval durante los dos
                primeros meses del año Enero y Febrero.
            </p>

            <p>
                fiesta que asimiló la comunidad con mucha emoción derrochando
                buen gusto y alegría contagiante, poniendo de manifiesto su
                capacidad de organización, música, danzas, arte, gastronomía y
                amistad compartida en donde participan niños, jóvenes, adultos,
                ancianos, hombres y mujeres.
            </p>
            <p>
                Todos incorporados en los comités de barrio, asociaciones
                culturales, instituciones públicas y privadas bajo la acertada
                dirección del Patronato del Carnaval Riojano quien maneja la
                organización y el cumplimiento de las normas tradicionales
                asimismo el orden, estructura de la programación y la seguridad
                durante la festividad.
            </p>
            
            <figure class="image">
                <img
                src="https://carnavalriojano.pe/wp-content/uploads/2025/01/6787ec98b258f43798af1799-1024x683.jpeg"
                alt=""
            />
            </figure>

            <p>
                Todos los domingos después del año nuevo los barrios son los
                protagonistas de eventos culinarios presentando ricas viandas
                con potajes regionales y nacionales así como grandes fiestas
                bailables en calles y parques con grupos de música típica y
                orquestas de la región.
            </p>

            <p>
                El carnaval riojano es único por su colorido y encanto. La
                música vernacular, representada por el tradicional bombobaile,
                simula el canto de las aves típico de la región, con melodías de
                moda que la gente disfruta tomándose de los brazos en una feliz
                comunión. La magnífica gastronomía local, acompañada de tragos
                exóticos, como el Masato y el Uvachado, ponen la cuota de
                euforia.
            </p>
            

            <p>
                El Ño Carnavalón tiene su lugar de honor en medio de las
                celebraciones. Se trata de un hombre vestido con atuendo
                estrafalario, quien recorre la ciudad a caballo, invitando a la
                gente a unirse al carnaval. Junto con él, van Los diablos. Se
                trata de un grupo de danzantes tradicionales que van animando al
                público con sus bromas y piruetas.
            </p>

            <p>
                Por esto y mucho más los esperamos: Ven, ven a Rioja mi amigo al
                origen del sol y a ponerte un sombrero. Ven, ven a Rioja mi
                amigo a sembrar esperanzas carnaval y canción.
            </p>
            <div class="user__content">
                <figure class="user__figure">
                    <img 
                    src="/autor-raul-del-aguila.jpg"
                    alt="raul del aguila"
                    loading="lazy"
                    >
                </figure>
                <div class="user__info">
                    <h3>Raúl del Águila</h3>
                    <p>Museo Toé</p>
                </div>
            </div>
            <!-- <p>
                <strong> Por: Raúl del Águila / Museo Toé </strong>
            </p> -->
             <GoBack 
                text="Volver a inicio"
                link="/"
            />
        </div>
    </section>
    <Sponsors />
</Layout>

<style>
    .content > p{
        text-wrap: wrap;
    }
    .about__title-single{
        font-size: clamp(1.2rem, 5vw, 2rem);
        text-wrap: wrap;
    }
    .user__content{
        display: flex;
        gap: 0.5rem;
        align-items: center;
        justify-content: center;
        max-width: fit-content;
        border-radius: 5px;
        padding: 0.5rem;
        box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
        margin-bottom: 1rem;
    }
    .user__figure{
        width: 80px;
    }
    .user__figure img{
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 50%;
    }

    .user__info h3{
        margin: 0;
    }
    .user__info p{
        margin: 0;
    }
</style>
