---
import Layout from "../layouts/Layout.astro";
import GoBack from "../components/goBack/goBack.astro";
---

<Layout title="Grupo VIP">
    <section class="section container">
        <div class="content">
            <nav>
                <GoBack text="Volver a inicio" link="/" />
            </nav>
            <h1>landing page</h1>
        </div>
    </section>
</Layout>