---
import Layout from "../../layouts/Layout.astro";
import GoBack from "../../components/goBack/goBack.astro";
import HotelCard from "../../components/hospedaje/HotelCard/HotelCard.astro";
import Sponsors from "../../components/sponsors/sponsors.astro";
import { getCollection } from "astro:content";

const hospedajes = await getCollection("hospedajes");
---

<Layout title="Hospedajes del Carnaval Riojano 2026">
  <section class="section container">
    <nav>
      <GoBack text="Volver a inicio" link="/" />
    </nav>

    <div class="grid__hospedajes">
      {
        hospedajes.map((hospedaje) => {
          const { slug, data } = hospedaje;
          const { title, direccion, imagen, tipo } = data;

          return (
            <HotelCard title={title} tipo={tipo} imagen={imagen} slug={slug} />
          );
        })
      }
    </div>
  </section>
  <Sponsors />
</Layout>
