---
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";


---

<section class="slide__reinas container">
  <div class="swiper">
    <div class="swiper-wrapper">
      <slot/>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div> 

    <!-- If we need navigation buttons -->
    <!-- <div class="swiper-button-prev">
      <span class="ic--round-arrow-left"></span>
    </div>
    <div class="swiper-button-next">
      <span class="ic--round-arrow-right"></span>
    </div> -->
  </div>
</section>

<script>
  import Swiper from "swiper";
  import { Navigation, Pagination, Scrollbar } from "swiper/modules";

  Swiper.use([Navigation, Pagination, Scrollbar]);

  new Swiper(".swiper", {
    slidesPerView: "auto",
    spaceBetween: 16,
    loop: true,
    centeredSlides: true,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    
    breakpoints: {
      640: {
        slidesPerView: 2,
        spaceBetween: 24,
      },
      768: {
        slidesPerView: 3,
      },
      1024: {
        slidesPerView: 4,
        spaceBetween: 32,
        centeredSlides: false,
      },
    },
  });
</script>

<style>
  .slide__reinas {
    margin: 0 auto;
  }
  .swiper-wrapper {
    padding-block: 3rem;
  }
  .swiper-slide {
    width: 80%;
    margin: 0;
  }
  .swiper-pagination-bullet-active {
    background-color: var(--color-primary);
  }

  @media (min-width: 640px) {
    .swiper-slide {
      width: 100%;
    }
  }
</style>
