---
import "./Footer.css";
---

<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <!-- <div class="footer__logo">
                <img
                    src="https://storage.googleapis.com/msgsndr/ZrYCKxEuCmb0L2NerCGx/media/6761172d2787df48ce6a6fc5.png"
                    alt="Logo carnaval riojano 2025"
                />
            </div> -->

            <div class="footer__social">
                <a href="" class="social__item">
                    <span class="ic--baseline-tiktok"></span>
                </a>
                <a href="" class="social__item">
                    <span class="ic--baseline-facebook"></span>
                </a>
                <a href="" class="social__item">
                    <span class="mdi--instagram"></span>
                </a>
            </div>

        </div>
        <div class="links__utils">
                <ul class="footer__links">
                    <li class="footer__link">
                        <a href=""> Sobre el carnaval </a>
                    </li>
                    <li class="footer__link">
                        <a href=""> Programación </a>
                    </li>

                    <li class="footer__link">
                        <a href=""> Reinas </a>
                    </li>

                    <li class="footer__link">
                        <a href=""> Agencias </a>
                    </li>
                    <li class="footer__link">
                        <a href=""> hospedajes </a>
                    </li>
                    <li class="footer__link">
                        <a href=""> Grupo Vip </a>
                    </li>
                </ul>
            </div>
        <div class="footer__text">
            <p>
                &copy; 2025 Carnaval Riojano. Hecho por 
                <a href="https://codigocreativo.netlify.app/" target="_blank">
                    Código Creativo
                </a>
            </p>
            
        </div>
    </div>
</footer>
