---
import "./Footer.css";
---

<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="footer__social">
                <a href="https://www.tiktok.com/@carnavalriojano.pe?is_from_webapp=1&sender_device=pc" target="_blank" class="social__item">
                    <span class="ic--baseline-tiktok"></span>
                </a>
                <a href="https://www.facebook.com/profile.php?id=61562852851287&locale=es_LA" target="_blank" class="social__item">
                    <span class="ic--baseline-facebook"></span>
                </a>
                <a href="https://www.instagram.com/carnavalriojano.pe/" target="_blank" class="social__item">
                    <span class="mdi--instagram"></span>
                </a>
            </div>
        </div>

        <div class="links__utils">
            <ul class="footer__links">
                <li class="footer__link">
                    <a href="/sobre-el-carnaval"> Sobre el carnaval </a>
                </li>
                <li class="footer__link">
                    <a href="/programacion"> Programación </a>
                </li>

                <li class="footer__link">
                    <a href="/reinas"> Reinas </a>
                </li>

                <li class="footer__link">
                    <a href="/agencias"> Agencias </a>
                </li>
                <li class="footer__link">
                    <a href="/hospedajes"> hospedajes </a>
                </li>
                <li class="footer__link">
                    <a href="/vip"> Grupo Vip </a>
                </li>
            </ul>
        </div>
        
        <div class="footer__text">
            <p>
                &copy; 2025 Carnaval Riojano. Hecho por
                <a href="https://codigocreativo.netlify.app/" target="_blank">
                    Código Creativo
                </a>
            </p>
        </div>
    </div>
</footer>
