.wrapper__slide {
    position: relative;
    width: 100%;
}
/* .swiper-wrapper{
    background-color: red;

} */
.swiper {
    width: 100%;
    height: auto;
    /* Evita crecer sin límite */
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}

.swiper-pagination-bullet-active {
    background: var(--swiper-pagination-color, var(--color-primary));
}
