---
import Layout from "../../layouts/Layout.astro";
import GoBack from "../../components/goBack/goBack.astro";
import Sponsors from "../../components/sponsors/sponsors.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
    const agencias = await getCollection("agencias");

    return agencias.map((agencia) => ({
        params: { slug: agencia.slug },
        props: { agencia },
    }));
}
const { agencia } = Astro.props;
const { data } = agencia;
const { title } = data;

const { Content } = await render(agencia);
---

<Layout title={title}>
    <section class="section container">
        <nav class="headers__buttons">
            <GoBack text="Volver a inicio" link="/" />
            <GoBack text="Ver todas las agencias" link="/agencias" />
        </nav>

        <h1>{title}</h1>
        <Sponsors />
        <nav class="headers__buttons">
            <GoBack text="Volver a inicio" link="/" />
            <GoBack text="Ver todas las agencias" link="/agencias" />
        </nav>
    </section>
</Layout>
