---
import Basehead from "../components/BaseHead/BaseHead.astro";
import Header from "../components/header/Header.astro";
import Footer from "../components/footer/Footer.astro";
import Loader from "../components/loader/Loader.astro";
import WhatsAppWidget from "../components/WhatsAppWidget/WhatsAppWidget.astro";
import "../styles/base.css";
import "../styles/icons.css";
import "../styles/theme.css";

interface Props {
	title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<title>{title}</title>
		<Basehead />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link
			rel="icon"
			type="image/svg+xml"
			href="/carnaval-riojano2025-100x52.png"
		/>
	</head>
	<body>
		<Loader />
		<div class="envoltorio">
			<Header />
			<main>
				<slot />
			</main>
			<Footer />
		</div>

		<!-- <script
			src="https://app.embed.im/whatsapp.js"
			data-phone="51996637736"
			data-theme="1"
			defer></script> -->
	</body>
</html>
